#SRC_GITEA_URL=https://source-gitea.tld
SRC_GITEA_URL=http://localhost:3000   # or https if you have SSL locally
SRC_GITEA_TOKEN=

DEST_GITEA_URL=https://destination-gitea.tld
DEST_GITEA_TOKEN=
DEST_GITEA_USER=your-user